<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="/static/css/uikit.gradient.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.js"></script>
        <script src="/static/cookie.js"></script>
        <link id="data-uikit-theme" rel="stylesheet" href="/static/css/uikit.docs.min.css">
        <script src="http://www.getuikit.net/src/js/components/datepicker.js"></script>
        <script src="http://www.getuikit.net/src/js/components/autocomplete.js"></script>
        <script src="http://www.getuikit.net/src/js/components/timepicker.js"></script>
        <script src="http://www.getuikit.net/src/js/components/notify.js"></script>
    </head>
    <body>
    
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="/">小灵通</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
                        <a href="/">任务</a>
                    </li>
                    <li>
                        <a href="/contacts">联系人</a>
                    </li>
                    <li>
                        <a href="/user">个人资料</a>
                    </li>
                    <li>
                        <a href="/document">文档</a>
                    </li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="clearCookie()">登出</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">小灵通</div>
            </nav>
              <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-active">
                        <a href="/">任务</a>
                    </li>
                    <li>
                        <a href="/contacts">联系人</a>
                    </li>
                    <li>
                        <a href="/user">个人资料</a>
                    </li>
                    <li>
                        <a href="/document">文档</a>
                    </li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="clearCookie()">登出</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>通知文字</th>
                        <th>发送列表</th>
                        <th>发送时间</th>
                        <th>发送状态</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="list_task">
                    
                </tbody>
            </table>
        </div>
        <a href="#my" data-uk-modal>添加新任务</a>
        <div id="my" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">添加新任务</div>
                <div class="uk-form-row uk-margin-remove uk-display-inline-block uk-width-1-1">
                <input type="text" placeholder="通知内容：（不超过30字）" id="task" class="uk-width-1-1">
                </div>
                <div class="uk-panel uk-panel-box" id="send_list">
                    <!--<h5>发送列表：18814122757,18821233567</h5>
                    <input type="text" placeholder="在这里手动添加,以','分隔开" id="addcontact">-->
                </div>
                <div class="uk-form-row" data-uk-form-select>
                    <span>选择联系人分组：</span>
                    <select id="groupId">
                    </select>
                
                    <span>选择通知方式：</span>
                    <select  id="type">
                        <option value="phone">phone</option>
                        <option value="email">E-mail</option>
                    </select>
                </div>
                <div class="uk-form-row">
                    <input type="" placeholder="日期" data-uk-datepicker="{format:'YYYY-MM-DD'}" id="s_date"></input>
                    <input type="text" placeholder="时间" data-uk-timepicker="" id="s_time">
                </div>
                <br>
            <div class="uk-modal-footer">
                <div class="uk-pagination-right">
                <button class="uk-button uk-modal-close">取消</button>
                <button class="uk-button uk-modal-close" onclick="newtask()">确定</button>
            </div>
            </div>
                </div>
            </div>
    </body>
    <script>
    function newtask(){
        var t=$("#task").val();
        var type=$("#type").val();
        var s=$("#addcontact").val();
        if(s.length>0){
            var send_list=s_list+","+s;
        }
        else{
            var send_list=s_list;
        }
        var set_date=$("#s_date").val()+" "+$("#s_time").val();
        var type=$("#type").val();
        $.post("/new/",
        {
            task:t,
            send_list:send_list,
            date:set_date,
            type:type
        },
        function(data,status){
                if(status=='success'){
                    if(data=='0'){
                        alert("添加成功");
                    }
                }
        });
    }
    function list_task(){
        $.get("/list/?type=task",
            function(data,status){
                if(status=="success"){
                    var tbody=$("#list_task");
                    list_data=JSON.parse(data);
                    if(list_data.errCode==1){
                        for(i in list_data.data){
                            per_data=list_data.data[i];
                            newTR=$("<tr></tr>").attr("id","tr_"+per_data.id);
                            newTR.append($("<td></td>").text(per_data.no));
                            newTR.append($("<td></td>").text(per_data.task));
                            newtd=$("<td ></td>");
                            newtd.append($('<a data-uk-offcanvas>查看</a>').attr("href","#my_id_"+per_data.id));
                            newdiv=$('<div></div>').attr("id","my_id_"+per_data.id);
                            newdiv.attr("class","uk-offcanvas");
                            newdiv.append($('<div class="uk-offcanvas-bar"></div>').append($('<div class="uk-panel uk-text-break"></div>').text(per_data.send_list)));
                            newtd.append(newdiv);
                            newTR.append(newtd);
                            newTR.append($("<td></td>").text(per_data.date));
                            newTR.append($("<td></td>").text(per_data.status));
                            newTR.append($("<td></td>").append($('<a href="javascript:void(0)">删除</a>').attr("onclick","del("+per_data.id+")")));
                            tbody.append(newTR);
                        }
                    }
                    if(list_data.errCode==0){
                        newTR=$("<tr></tr>");
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        tbody.append(newTR);

                    }
                }
            });
    }
    function list_group(){
        $.get("/list/?type=group",
            function(data,status){
                if(status=="success"){
                    var select=$("#groupId");
                    select.empty();
                    list_data=JSON.parse(data);
                    if(list_data.errCode==1){
                        for(i in list_data.data){
                            per_data=list_data.data[i];
                            select.append('<option value="'+per_data.group_name+'">'+per_data.group_name+'</option>');
                        }
                        initSendlist();
                    }
                    if(list_data.errCode==0){
                        select.append('<option value="-1">请先添加联系人分组</option>')

                    }
                }
            });
    }
    function initSendlist(){
                var g_name=$("#groupId").val();
                var send=$("#send_list");
                var type=$("#type").val();
                send.empty();
                $.get("/searchcontacts/?group_name="+encodeURIComponent(g_name),
                function(data,status){
                    if(status=='success'){
                            var box=$("#send_list");
                            list_data=JSON.parse(data);
                            if(list_data.errCode==1){
                                s_list="";
                                for(i in list_data.data){
                                    per_data=list_data.data[i];
                                    if(type!=per_data.type){
                                        continue;
                                    }
                                    if(i==0){
                                    s_list=per_data.contact;
                                }
                                else{
                                    s_list=per_data.contact+","+s_list;
                                }
                            }
                            box.append($("<h5>发送列表："+s_list+"</h5>"));
                            box.append($('<input type="text" placeholder="在这里手动添加,以,分隔开" id="addcontact">'));
                        }
                            if(list_data.errCode==0){
                                    box.append($("<h5>分组里面无联系人：</h5>"));
                                    box.append($('<input type="text" placeholder="在这里手动添加,以,分隔开" id="addcontact">'));
                            }
                        }
                    }
                );
    }
    function initData(){
            
            //$("#search_poster").click(search_poster);
            //$("#search_receiver").click(search_receiver);
            s_list='';
            list_task();
            list_group();
            $("#groupId").change(function(){  
                initSendlist();
            }) 
            //var name=getCookie("username");
            //name=unescape(name.substring(1,name.length-1));
        }
    function del(id){
        var close =confirm("确定删除？");
        if(close){
            $("#tr_"+id).remove();
            $.get("/delete/?type=task&id="+id,
                function(data,status){
                    if(status=='success'){
                        if(data=='0'){
                            alert("删除成功");
                        }
                    }
                });
        }
        
    }
    $(document).ready(initData);
    </script>
</html>