<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="/static/css/uikit.gradient.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.js"></script>
        <script src="/static/cookie.js"></script>
        <link id="data-uikit-theme" rel="stylesheet" href="/static/css/uikit.docs.min.css">
        <script src="http://www.getuikit.net/src/js/components/datepicker.js"></script>
        <script src="http://www.getuikit.net/src/js/components/autocomplete.js"></script>
        <script src="http://www.getuikit.net/src/js/components/timepicker.js"></script>
    </head>
    <body>
    
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="/">小灵通</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
                        <a href="/">任务</a>
                    </li>
                    <li>
                        <a href="/contacts">联系人</a>
                    </li>
                    <li>
                        <a href="/user">个人资料</a>
                    </li>
                    <li>
                        <a href="/document">文档</a>
                    </li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="clearCookie()">登出</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">小灵通</div>
            </nav>
              <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-active">
                        <a href="/">任务</a>
                    </li>
                    <li>
                        <a href="/contacts">联系人</a>
                    </li>
                    <li>
                        <a href="/user">个人资料</a>
                    </li>
                    <li>
                        <a href="/document">文档</a>
                    </li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="clearCookie()">登出</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>通知文字</th>
                        <th>发送列表</th>
                        <th>发送时间</th>
                        <th>发送状态</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="list_task">
                    
                </tbody>
            </table>
        </div>
        <a href="#my" data-uk-modal>添加新任务</a>
        <div id="my" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">添加新任务</div>
                <div class="uk-form-row uk-margin-remove uk-display-inline-block uk-width-1-1">
                <input type="text" placeholder="通知内容：（不超过30字）" id="task" class="uk-width-1-1">
                </div>
                <div class="uk-panel uk-panel-box" id="send_list">
                    <h5>发送列表：18814122757,18821233567</h5>
                    <input type="text" placeholder="在这里手动添加,以','分隔开" id="addcontact">
                </div>
                <div class="uk-form-row" data-uk-form-select>
                    <span>选择联系人分组：</span>
                    <select id="groupId">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                
                    <span>选择通知方式：</span>
                    <select  id="type">
                        <option value="phone">phone</option>
                        <option value="e-mail">E-mail</option>
                    </select>
                </div>
                <div class="uk-form-row">
                    <input type="" data-uk-datepicker="{format:'YYYY-MM-DD'}"></input>
                    <input type="text" data-uk-timepicker="">
                </div>
                <br>
            <div class="uk-modal-footer">
                <div class="uk-pagination-right">
                <button class="uk-button uk-modal-close">取消</button>
                <button class="uk-button uk-modal-close">确定</button>
            </div>
            </div>
                </div>
            </div>
    </body>
    <script>
    function list_task(){
        $.get("/list/?type=task",
            function(data,status){
                if(status=="success"){
                    var tbody=$("#list_task");
                    list_data=JSON.parse(data);
                    if(list_data.errCode==1){
                        for(i in list_data.data){
                            per_data=list_data.data[i];
                            newTR=$("<tr></tr>").attr("id","tr_"+per_data.id);
                            newTR.append($("<td></td>").text(per_data.no));
                            newTR.append($("<td></td>").text(per_data.task));
                            newtd=$("<td ></td>");
                            newtd.append($('<a data-uk-offcanvas>查看</a>').attr("href","#my_id_"+per_data.id));
                            newdiv=$('<div></div>').attr("id","my_id_"+per_data.id);
                            newdiv.attr("class","uk-offcanvas");
                            newdiv.append($('<div class="uk-offcanvas-bar"></div>').append($('<div class="uk-panel uk-text-break"></div>').text(per_data.send_list)));
                            newtd.append(newdiv);
                            newTR.append(newtd);
                            newTR.append($("<td></td>").text(per_data.date));
                            newTR.append($("<td></td>").text(per_data.status));
                            newTR.append($("<td></td>").append($('<a href="javascript:void(0)">删除</a>').attr("onclick","del("+per_data.id+")")));
                            tbody.append(newTR);
                        }
                    }
                    if(list_data.errCode==0){
                        newTR=$("<tr></tr>");
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        newTR.append($("<td></td>").text("无"));
                        tbody.append(newTR);

                    }
                }
            });
    }
    function initData(){
            
            //$("#search_poster").click(search_poster);
            //$("#search_receiver").click(search_receiver);
            list_task();
            $("#groupId").change(function(){  
            alert($("#groupId").val());
            }) 
            //var name=getCookie("username");
            //name=unescape(name.substring(1,name.length-1));
        }
    function del(id){
        var close =confirm("确定删除？");
        if(close){
            $("#tr_"+id).remove();
        }
        
    }
    $(document).ready(initData);
    </script>
</html>