<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="/static/css/uikit.gradient.css" />
        <script src="/static/jquery-1.11.1.min.js"></script>
        <script src="/static/js/uikit.js"></script>
        <script src="/static/md5.js"></script>
        <script src="/static/js/json2.js"></script>
    </head>
<head>
	<title>hehe</title>
</head>
<body class="uk-height-1-1">
<br>
<br>
<div class="uk-text-center uk-align-center" style="width: 250px;">
	<div class="uk-panel uk-panel-box uk-form">
	<h2>小灵通</h2>
	<fieldset data-uk-margin>
		<div class="uk-form-row">
		<input type="text" placeholder="邮箱" id="username">
		</div>

		<div class="uk-form-row">
		<input type="password" placeholder="密码" id="pwd">
		</div>

		<div class="uk-form-row">
		<button class="uk-button" onclick="login()">登录</button>
		</div>
	</fieldset>
	</div>
	<div class="uk-form-row uk-text-small">
		<a class="uk-link" href="/register">注册</a>&nbsp&nbsp&nbsp
		<a class="uk-link" href="/forget">忘记密码</a>
	</div>
</div>
</body>
<script>
	function login(){

	            username = $("#username").val();
	            pwd = $("#pwd").val();
	            if( !username || !pwd ) {
	                alert("请输入用户名或密码。");
	                return;
	            }
                	else{

	             $.post("/login/",
	             	{
	             		username:username,
	             		pwd:hex_md5(pwd)
	             	},
	             	function(data,status){
	             		if(status=='success'){
	             			errcode=JSON.parse(data);
	             			if(errcode.errCode==0){
	             				alert("无此用户");
	             				return;
	             			}

	             			if (errcode.errCode==1){
	             				alert("密码错误!");
	             				return;
	             			}
	             			else{
	             				window.location.href ="/";
	             			}
	             		}
	             		else{
	             			alert("erro");
	             		}
	             		});
	             	}
		
            }

</script>
</html>